body {
  font-family: Georgia, serif;
  color: white;
  background-color: black;
}

#slidein1 {
  float: right;
  animation-duration: 0.5s;
  animation-name: slidein1;
}

@keyframes slidein1 {
  from {
    margin-right: -300%;
  }

  to {
    margin-right: 0%;
  }
}

#slidein2 {
  float: left;
  animation-duration: 0.5s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  from {
    margin-left: -300%;
  }

  to {
    margin-left: 0%;
  }
}

.main {
  width: 100%;
}

.card_box {
  width: 20%;
  margin-left: 40%;
  margin-top: 200px;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: 0;
}

.job_title {
  font-size: 1.4em;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.bio_text {
  font-size: 1em;
  text-align: justify;
  font-weight: 500;
}

.slide {
  display: block;
  position: absolute;
}

.name_box {
  float: left;
  width: 40%;
}

.bio_box {
  float: left;
  width: 60%;
}

h1 {
  font-size: 5em;
}

.birthdate {
  margin-top: 80px;
  font-size: 0.6em;
}

.blob_background {
  height: 500px;
  z-index: -1;
  position: absolute;
  left: 30%;
  top: 30%;
}

.pulse {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.3;
}

@-webkit-keyframes pulsate {
  0% { opacity: 0; }
  50% { opacity: 1.0; }
  100% { opacity: 0; }
}